@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap');

body{
    background-color: rgb(182, 182, 182);
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

h1{
    background-color: #203774;
    color: white;
}

h3, h4{
    color: white;
    margin: 10px auto;
}

.container{
    width: 450px;
    background-color: white;
    border-radius: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.odontologia{
    border-radius: 15px;
    background-color: #203774;
    margin-top: 10px;
    width: 280px;
    display: flex;
    justify-content: space-around;
}

.turnos{
    display: flex;
    flex-direction: column;
    margin: 10px auto;
}

.docu{
    display: flex;
    justify-content: space-evenly;
}

.docu img{
    width: 50px;
    border-radius: 50px 50px;
    padding: 10px;
}

.docu figcaption{
    color: white;
    margin: auto;
}

.btn{
    margin: auto;
    width: 100px;
    height: 40px;
    cursor: pointer;
}

.btn:hover{
    background-color: rgb(169, 169, 184);
}

.btn a{
    text-decoration: none;
    color: black;
}